In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("DES_1.csv")
df1.head()

print(df1.isna().sum())

#401 elementi

SMILES_HBA      0
Tmelt_HBA       0
SMILES_HBD      0
Tmelt_HBD       0
X_HBA           0
X_HBD           0
Mixed_Tmelt     0
dtype: int64

In [2]:
df2 = pd.read_csv("DES_melting.csv")
df2.head()

#Check for NaNs
print(df2.isna().sum())
row_NaN = [row for row in df2.index if df2.iloc[row].isna().any()]
print(row_NaN)

#Fill NaNs
df2.loc[42, 'T#2'] = 326.76
df2.loc[43, 'T#2'] = 326.76
df2.loc[1219, 'T#1'] = 394.44
df2.loc[1362, 'T#2'] = 493.93
df2.loc[1363, 'T#2'] = 493.93

#Recheck for Nans
print(df2.isna().sum())

#2259 elementi

Number of components      0
Type of DES               0
Component#1               0
Component#2               0
X#1 (molar fraction)      0
X#2 (molar fraction)      0
Tmelt, K                  0
Phase diagram (Yes/No)    0
Reference (DOI)           0
Smiles#1                  0
T#1                       1
Smiles#2                  0
T#2                       4
dtype: int64
[42, 43, 1219, 1362, 1363]
Number of components      0
Type of DES               0
Component#1               0
Component#2               0
X#1 (molar fraction)      0
X#2 (molar fraction)      0
Tmelt, K                  0
Phase diagram (Yes/No)    0
Reference (DOI)           0
Smiles#1                  0
T#1                       0
Smiles#2                  0
T#2                       0
dtype: int64

#### 1.1 OMOGENIZZO I DUE DATASET

In [3]:
#devo trasformare i t melt di df1 in kelvin
df1["Tmelt_HBA"] = df1["Tmelt_HBA"] + 273.15
df1["Tmelt_HBD"] = df1["Tmelt_HBD"] + 273.15
df1["Mixed_Tmelt "] = df1["Mixed_Tmelt "] + 273.15
df1.head()

,SMILES_HBA,Tmelt_HBA,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt
0,Cl[Fe](Cl)Cl,580.15,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,294.15
1,Br[Zn]Br,667.15,CC(=O)[O-].C[N+](C)(C)CCO,324.15,0.67,0.33,321.15
2,Br[Zn]Br,567.15,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,311.15
3,Cl[Zn]Cl,563.15,C[N+](C)(C)CCCl.Cl,513.15,0.67,0.33,296.15
4,Cl[Zn]Cl,563.15,C[N+](C)(C)CCO.[Cl-],575.15,0.50,0.50,314.77

In [4]:
#aggiungo le colomnne a df1
df1["N°C"] = 2
df1["DES_T"] = np.nan
df1["NAME_HBA"] = np.nan
df1["NAME_HBD"] = np.nan
df1["REF#DOI"] = np.nan
df1.head()

,SMILES_HBA,Tmelt_HBA,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,N°C,DES_T,NAME_HBA,NAME_HBD,REF#DOI
0,Cl[Fe](Cl)Cl,580.15,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,294.15,2,NaN,NaN,NaN,NaN
1,Br[Zn]Br,667.15,CC(=O)[O-].C[N+](C)(C)CCO,324.15,0.67,0.33,321.15,2,NaN,NaN,NaN,NaN
2,Br[Zn]Br,567.15,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,311.15,2,NaN,NaN,NaN,NaN
3,Cl[Zn]Cl,563.15,C[N+](C)(C)CCCl.Cl,513.15,0.67,0.33,296.15,2,NaN,NaN,NaN,NaN
4,Cl[Zn]Cl,563.15,C[N+](C)(C)CCO.[Cl-],575.15,0.50,0.50,314.77,2,NaN,NaN,NaN,NaN

In [5]:
#droppiamo le colonne a df2
df2 = df2.drop(columns=["Phase diagram (Yes/No)"])
df2.head()

,Number of components,Type of DES,Component#1,Component#2,X#1 (molar fraction),X#2 (molar fraction),"Tmelt, K",Reference (DOI),Smiles#1,T#1,Smiles#2,T#2
0,2,1,zinc;dichloride,tetraethylazanium;chloride,0.666667,0.333333,364.15,10.1039/B106357J,[Cl-].[Cl-].[Zn+2],563.15,CC[N+](CC)(CC)CC.[Cl-],633.15
1,2,1,dichlorotin,2-chloroethyl(trimethyl)azanium;chloride,0.666667,0.333333,343.15,10.1039/B106357J,[Cl-].[Sn+2].[Cl-],519.15,C[N+](C)(C)CCCl.[Cl-],498.15
2,2,1,zinc;dichloride,2-chloroethyl(trimethyl)azanium;chloride,0.666667,0.333333,297.15,10.1039/B106357J,[Cl-].[Cl-].[Zn+2],563.15,C[N+](C)(C)CCCl.[Cl-],498.15
3,2,1,dichlorotin,2-acetyloxyethyl(trimethyl)azanium;chloride,0.666667,0.333333,287.15,10.1039/B106357J,[Cl-].[Sn+2].[Cl-],519.15,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65
4,2,1,zinc;dichloride,2-acetyloxyethyl(trimethyl)azanium;chloride,0.666667,0.333333,304.15,10.1039/B106357J,[Cl-].[Cl-].[Zn+2],563.15,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65

In [6]:
#ordiniamo i dati delle due tabelle
df1 = df1[["N°C", "DES_T", "NAME_HBA", "SMILES_HBA", "Tmelt_HBA", "NAME_HBD", "SMILES_HBD", "Tmelt_HBD", "X_HBA", "X_HBD", "Mixed_Tmelt ", "REF#DOI"]]	               
df1.head()

,N°C,DES_T,NAME_HBA,SMILES_HBA,Tmelt_HBA,NAME_HBD,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,REF#DOI
0,2,NaN,NaN,Cl[Fe](Cl)Cl,580.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,294.15,NaN
1,2,NaN,NaN,Br[Zn]Br,667.15,NaN,CC(=O)[O-].C[N+](C)(C)CCO,324.15,0.67,0.33,321.15,NaN
2,2,NaN,NaN,Br[Zn]Br,567.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,311.15,NaN
3,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCCl.Cl,513.15,0.67,0.33,296.15,NaN
4,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.50,0.50,314.77,NaN

In [7]:
df2 = df2[["Number of components", "Type of DES", "Component#1", "Smiles#1", "T#1", "Component#2", "Smiles#2", "T#2", "X#1 (molar fraction)", "X#2 (molar fraction)", "Tmelt, K", "Reference (DOI)" ]]
df2.head()

,Number of components,Type of DES,Component#1,Smiles#1,T#1,Component#2,Smiles#2,T#2,X#1 (molar fraction),X#2 (molar fraction),"Tmelt, K",Reference (DOI)
0,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,tetraethylazanium;chloride,CC[N+](CC)(CC)CC.[Cl-],633.15,0.666667,0.333333,364.15,10.1039/B106357J
1,2,1,dichlorotin,[Cl-].[Sn+2].[Cl-],519.15,2-chloroethyl(trimethyl)azanium;chloride,C[N+](C)(C)CCCl.[Cl-],498.15,0.666667,0.333333,343.15,10.1039/B106357J
2,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,2-chloroethyl(trimethyl)azanium;chloride,C[N+](C)(C)CCCl.[Cl-],498.15,0.666667,0.333333,297.15,10.1039/B106357J
3,2,1,dichlorotin,[Cl-].[Sn+2].[Cl-],519.15,2-acetyloxyethyl(trimethyl)azanium;chloride,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65,0.666667,0.333333,287.15,10.1039/B106357J
4,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,2-acetyloxyethyl(trimethyl)azanium;chloride,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65,0.666667,0.333333,304.15,10.1039/B106357J

In [8]:
#rinominiamo le colonne
df2 = df2.rename(
    columns={
    'Number of components': 'N°C',
    "Type of DES": "DES_T",
     "Component#1":   "NAME_HBA",
    'Smiles#1': 'SMILES_HBA',
    'T#1': 'Tmelt_HBA',
    "Component#2":   "NAME_HBD",
    'Smiles#2' : 'SMILES_HBD',
    'T#2': 'Tmelt_HBD',
    'X#1 (molar fraction)': 'X_HBA',
    'X#2 (molar fraction)': 'X_HBD',
    "Tmelt, K" : "Mixed_Tmelt ",
    "Reference (DOI)" : "REF#DOI"
    })

df2.head()

,N°C,DES_T,NAME_HBA,SMILES_HBA,Tmelt_HBA,NAME_HBD,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,REF#DOI
0,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,tetraethylazanium;chloride,CC[N+](CC)(CC)CC.[Cl-],633.15,0.666667,0.333333,364.15,10.1039/B106357J
1,2,1,dichlorotin,[Cl-].[Sn+2].[Cl-],519.15,2-chloroethyl(trimethyl)azanium;chloride,C[N+](C)(C)CCCl.[Cl-],498.15,0.666667,0.333333,343.15,10.1039/B106357J
2,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,2-chloroethyl(trimethyl)azanium;chloride,C[N+](C)(C)CCCl.[Cl-],498.15,0.666667,0.333333,297.15,10.1039/B106357J
3,2,1,dichlorotin,[Cl-].[Sn+2].[Cl-],519.15,2-acetyloxyethyl(trimethyl)azanium;chloride,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65,0.666667,0.333333,287.15,10.1039/B106357J
4,2,1,zinc;dichloride,[Cl-].[Cl-].[Zn+2],563.15,2-acetyloxyethyl(trimethyl)azanium;chloride,CC(=O)OCC[N+](C)(C)C.[Cl-],423.65,0.666667,0.333333,304.15,10.1039/B106357J

In [9]:
#guardiamo i dat comuni tra i due dataset
df_comuni = pd.merge(df1, df2, on=["SMILES_HBA", "SMILES_HBD", "X_HBA"])
df_comuni
#il dato numero 2 è anomalo: temperature di fusione diverse èer lo stesso DES
#gli altri 8 dati in comune sono simili (+-10K) e terremo entrambe le copie per non perdere nessuna informazione

,N°C_x,DES_T_x,NAME_HBA_x,SMILES_HBA,Tmelt_HBA_x,NAME_HBD_x,SMILES_HBD,Tmelt_HBD_x,X_HBA,X_HBD_x,...,REF#DOI_x,N°C_y,DES_T_y,NAME_HBA_y,Tmelt_HBA_y,NAME_HBD_y,Tmelt_HBD_y,X_HBD_y,Mixed_Tmelt _y,REF#DOI_y
0,2,NaN,NaN,C[N+](C)(C)CC(=O)[O-],514.15,NaN,CCCCCCCCCCCCCCCCCCO,329.15,0.20,0.80,...,NaN,2,5,2-(trimethylazaniumyl)acetate,566.00,octadecan-1-ol,332.90,0.80,334.80,10.1002/cssc.202001331
1,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CCCCCCCCCCCCCCCCCCO,329.15,0.60,0.40,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,octadecan-1-ol,332.90,0.40,339.48,10.1021/acs.iecr.7b02382
2,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CCCCCCCCCCCCCCO,309.15,0.60,0.40,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,tetradecan-1-ol,311.70,0.40,390.25,10.1021/acs.iecr.7b02382
3,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CCCCCCCCCC(=O)O,304.75,0.85,0.15,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,decanoic acid,304.80,0.15,499.80,10.1021/acs.iecr.7b02382
4,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,C=C(CC(=O)O)C(=O)O,438.15,0.50,0.50,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,2-methylidenebutanedioic acid,444.46,0.50,330.15,10.1039/C1RA00630D
5,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CC(=O)CCC(=O)O,306.15,0.20,0.80,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,4-oxopentanoic acid,306.16,0.80,263.00,10.1016/j.jct.2015.04.021
6,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CCCCCCCCCCCCCC(=O)O,325.15,0.90,0.10,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,tetradecanoic acid,327.00,0.10,536.70,10.1021/acs.iecr.7b02382
7,2,NaN,NaN,CCC[N+](CCC)(CCC)CCC.[Cl-],513.15,NaN,CCCCCCCCCC(=O)O,304.75,0.10,0.90,...,NaN,2,3,tetrapropylazanium;chloride,502.40,decanoic acid,304.80,0.90,304.36,10.1016/j.fluid.2017.04.007
8,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CC(=O)CCC(=O)O,306.15,0.25,0.75,...,NaN,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,578.15,4-oxopentanoic acid,306.16,0.75,262.00,10.1016/j.jct.2015.04.021

In [10]:
#guardiamo sempre i dati in comune
df_comuni[["Tmelt_HBA_x", "Tmelt_HBA_y","Tmelt_HBD_x", "Tmelt_HBD_y", "Mixed_Tmelt _x", "Mixed_Tmelt _y"]]
#[EP] not used anymore

,Tmelt_HBA_x,Tmelt_HBA_y,Tmelt_HBD_x,Tmelt_HBD_y,Mixed_Tmelt _x,Mixed_Tmelt _y
0,514.15,566.00,329.15,332.90,334.80,334.80
1,575.15,578.15,329.15,332.90,339.48,339.48
2,575.15,578.15,309.15,311.70,353.18,390.25
3,575.15,578.15,304.75,304.80,499.80,499.80
4,575.15,578.15,438.15,444.46,330.15,330.15
5,575.15,578.15,306.15,306.16,263.00,263.00
6,575.15,578.15,325.15,327.00,536.70,536.70
7,513.15,502.40,304.75,304.80,304.79,304.36
8,575.15,578.15,306.15,306.16,262.00,262.00

In [11]:
#uniamo i dataset
dfn = pd.concat([df1, df2], ignore_index=True)
dfn.head()
#2660 dati

,N°C,DES_T,NAME_HBA,SMILES_HBA,Tmelt_HBA,NAME_HBD,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,REF#DOI
0,2,NaN,NaN,Cl[Fe](Cl)Cl,580.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,294.15,NaN
1,2,NaN,NaN,Br[Zn]Br,667.15,NaN,CC(=O)[O-].C[N+](C)(C)CCO,324.15,0.67,0.33,321.15,NaN
2,2,NaN,NaN,Br[Zn]Br,567.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,311.15,NaN
3,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCCl.Cl,513.15,0.67,0.33,296.15,NaN
4,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.50,0.50,314.77,NaN

In [12]:
#andiamo a cercare i due dati anomali di prima
filtro = ((dfn["SMILES_HBA"] == "C[N+](C)(C)CCO.[Cl-]") & (dfn["SMILES_HBD"] == "CCCCCCCCCCCCCCO") & (dfn["X_HBD"] == 0.40))
dff = dfn[filtro]
dff.head()

,N°C,DES_T,NAME_HBA,SMILES_HBA,Tmelt_HBA,NAME_HBD,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,REF#DOI
99,2,NaN,NaN,C[N+](C)(C)CCO.[Cl-],575.15,NaN,CCCCCCCCCCCCCCO,309.15,0.6,0.4,353.18,NaN
1536,2,3,2-hydroxyethyl(trimethyl)azanium;chloride,C[N+](C)(C)CCO.[Cl-],578.15,tetradecan-1-ol,CCCCCCCCCCCCCCO,311.70,0.6,0.4,390.25,10.1021/acs.iecr.7b02382

In [13]:
#eliminiamo i due anomali
dfn = dfn.drop(99)
dfn = dfn.drop(1536)
dfn.head()
#2658 dati

,N°C,DES_T,NAME_HBA,SMILES_HBA,Tmelt_HBA,NAME_HBD,SMILES_HBD,Tmelt_HBD,X_HBA,X_HBD,Mixed_Tmelt,REF#DOI
0,2,NaN,NaN,Cl[Fe](Cl)Cl,580.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,294.15,NaN
1,2,NaN,NaN,Br[Zn]Br,667.15,NaN,CC(=O)[O-].C[N+](C)(C)CCO,324.15,0.67,0.33,321.15,NaN
2,2,NaN,NaN,Br[Zn]Br,567.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.67,0.33,311.15,NaN
3,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCCl.Cl,513.15,0.67,0.33,296.15,NaN
4,2,NaN,NaN,Cl[Zn]Cl,563.15,NaN,C[N+](C)(C)CCO.[Cl-],575.15,0.50,0.50,314.77,NaN

In [17]:
dfn.info()

print(df2.isna().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 2658 entries, 0 to 2659
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   N°C           2658 non-null   int64
 1   DES_T         2258 non-null   object
 2   NAME_HBA      2258 non-null   object
 3   SMILES_HBA    2658 non-null   object
 4   Tmelt_HBA     2658 non-null   float64
 5   NAME_HBD      2258 non-null   object
 6   SMILES_HBD    2658 non-null   object
 7   Tmelt_HBD     2658 non-null   float64
 8   X_HBA         2658 non-null   float64
 9   X_HBD         2658 non-null   float64
 10  Mixed_Tmelt   2658 non-null   float64
 11  REF#DOI       2258 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 270.0+ KB
N°C             0
DES_T           0
NAME_HBA        0
SMILES_HBA      0
Tmelt_HBA       0
NAME_HBD        0
SMILES_HBD      0
Tmelt_HBD       0
X_HBA           0
X_HBD           0
Mixed_Tmelt     0
REF#DOI         0
dtype: int64

In [15]:
#esportiamo il programma 
dfn.to_csv("DES_TMELT.csv")